<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Stats</title>
</head>
<body>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Original_url</th>
            <th scope="col">Short_url</th>
            <th scope="col">Visits</th>
          </tr>
        </thead>
        <tbody>
            {% set counter = 1 %}
            {% for link in links %}
            <tr>
              <td>{{ counter }}</td>
              <td>{{ link.original_url }}</td>
              <td>{{ url_for('short.redirect_to_url', short_url=link.short_url, _external=True) }}</td>
              <td>{{ link.visits }}</td>
            </tr>
            {% set counter = counter + 1 %}
            {% endfor %}
          </tbody>
      </table>
    </body>
</html>
